In [1]:
import pandas as pd 
data = pd.read_csv('data/Text_data.csv',encoding='ISO-8859-1')

In [2]:
data.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [3]:
data.shape  ## row & columns

(1599999, 6)

In [4]:
# naming the columns and reading the dataset again

column_names= ['target','id','date','flag','user','text']
data = pd.read_csv('data/Text_data.csv',encoding='ISO-8859-1',names=column_names)

In [5]:
data.shape

(1600000, 6)

In [6]:
data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [7]:
# missing values

data.isnull().sum()

target    0
id        0
date      0
flag      0
user      0
text      0
dtype: int64

In [8]:
data['target'].unique()

array([0, 4])

In [9]:
# checking the distribution of target column

data['target'].value_counts()

target
0    800000
4    800000
Name: count, dtype: int64

In [10]:
# convert the target '4' to '1'
data.replace({'target':{4:1}},inplace=True)

In [11]:
data['target'].value_counts()

target
0    800000
1    800000
Name: count, dtype: int64

0 --> negative reaction

1 --> positive reaction

In [12]:
##  Lower all the text cases

data['text']=data['text'].str.lower()

In [13]:
data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@kenichan i dived many times for the ball. man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [14]:
import re
import  nltk 
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [15]:
from bs4 import BeautifulSoup

In [16]:
## Removing special characters
data['text']=data['text'].apply(lambda x:re.sub('[^a-z A-z 0-9-]+', '',x))

## Remove the stopswords
data['text']=data['text'].apply(lambda x:" ".join([y for y in x.split() if y not in stopwords.words('english')]))

## Remove url 
data['text']=data['text'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' , str(x)))

## Remove html tags
data['text']=data['text'].apply(lambda x: BeautifulSoup(x, 'html.parser').get_text())

## Remove any additional spaces
data['text']=data['text'].apply(lambda x: " ".join(x.split()))

In [17]:
data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,switchfoot httptwitpiccom2y1zl - awww thats bu...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,upset cant update facebook texting might cry r...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,kenichan dived many times ball managed save 50...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,whole body feels itchy like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,nationwideclass behaving im mad cant see

In [18]:
# Lemmatizer:

from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()

In [19]:
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

In [20]:
data['text']=data['text'].apply(lambda x:lemmatize_words(x))

In [21]:
data.head()

,target,id,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,switchfoot httptwitpiccom2y1zl - awww thats bu...
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,upset cant update facebook texting might cry r...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,kenichan dived many time ball managed save 50 ...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,whole body feel itchy like fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,nationwideclass behaving im mad cant see

In [22]:
## Train Test Split

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(data['text'],data['target'],test_size=0.20)

# TFIDF

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
X_train_tfidf=tfidf.fit_transform(X_train)
X_test_tfidf=tfidf.transform(X_test)

In [24]:
print(X_train_tfidf)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 9631107 stored elements and shape (1280000, 696557)>
  Coords	Values
  (0, 674646)	0.5272003276374554
  (0, 129847)	0.681369565774273
  (0, 664379)	0.5077354915460791
  (1, 232815)	0.4445868557508803
  (1, 74598)	0.45393892853632
  (1, 408797)	0.19297174776081186
  (1, 324893)	0.3232754212757152
  (1, 400561)	0.1886074445932614
  (1, 199799)	0.19582285353732587
  (1, 472045)	0.27965210513293787
  (1, 125205)	0.27645674943679766
  (1, 306622)	0.21035553236184862
  (1, 677816)	0.16669864513548827
  (1, 677642)	0.3184035769308924
  (1, 682909)	0.22927094232024692
  (2, 196306)	0.2577209854196191
  (2, 665388)	0.23547948879702618
  (2, 117244)	0.29545876147947026
  (2, 178057)	0.36486802053080625
  (2, 674618)	0.4926992923124742
  (2, 625925)	0.6441678036381262
  (3, 221922)	0.2735869366991406
  (3, 566075)	0.3605342667428161
  (3, 627459)	0.26744091347165067
  (3, 613309)	0.3162032593717216
  :	:
  (1279996, 22910)	0.2726371769359623
  (1279996, 54640)	0.23035434553393863
  (1279996, 673704)	0.25023526930593454
  (1279996, 637051)	0.33474863803375265
  (1279996, 591369)	0.24484001908465267
  (1279996, 556951)	0.3439204636013346
  (1279996, 539922)	0.25966677986896614
  (1279996, 247763)	0.27513189172588953
  (1279996, 168145)	0.30336020649192075
  (1279997, 411050)	0.25372807717598383
  (1279997, 465304)	0.2019711227990508
  (1279997, 218958)	0.2609620518913635
  (1279997, 317460)	0.2585516314094568
  (1279997, 417784)	0.3564239507203877
  (1279997, 540081)	0.3000714737587588
  (1279997, 520858)	0.39809925723710515
  (1279997, 121278)	0.4317754271550405
  (1279997, 679762)	0.4448433765467248
  (1279998, 183677)	0.3863358133632785
  (1279998, 625674)	0.40011209755618077
  (1279998, 661046)	0.48689849800940993
  (1279998, 480275)	0.6734870461547928
  (1279999, 218738)	0.2885072980015476
  (1279999, 80695)	0.4824476096351059
  (1279999, 52603)	0.8270476666778153

In [25]:
print(X_test_tfidf)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 2285982 stored elements and shape (320000, 696557)>
  Coords	Values
  (0, 164705)	0.4226037009064708
  (0, 365364)	0.7177444027296881
  (0, 563941)	0.44870955728493167
  (0, 661829)	0.32389630675807
  (1, 54865)	0.22582676797303158
  (1, 102735)	0.3215630785002046
  (1, 187978)	0.2725613139993642
  (1, 449773)	0.36570354659743926
  (1, 486093)	0.5436557676815384
  (1, 632935)	0.40838345973529794
  (1, 673130)	0.41860728566347916
  (2, 13607)	0.55450961359652
  (2, 102041)	0.3012654433003909
  (2, 184266)	0.23611768926352286
  (2, 199867)	0.26286162778873956
  (2, 338645)	0.3111125816985305
  (2, 448593)	0.4081983078566425
  (2, 608241)	0.30637422988328117
  (2, 637575)	0.24583735415326
  (2, 689288)	0.2432947843529847
  (3, 214165)	0.3617104914472694
  (3, 522188)	0.5267578000513801
  (3, 647783)	0.6658235255277899
  (3, 676276)	0.385189269471191
  (4, 159036)	0.3001228257596532
  :	:
  (319997, 302087)	0.5939151520655855
  (319997, 400561)	0.23980312289796485
  (319997, 491778)	0.3752339093476633
  (319997, 646748)	0.43750534699404675
  (319997, 650192)	0.24357893502327946
  (319998, 24814)	0.33821642173821675
  (319998, 54640)	0.26605871715069696
  (319998, 66418)	0.6475647331399431
  (319998, 123528)	0.30121050940992466
  (319998, 129919)	0.38697974062388985
  (319998, 499735)	0.2936684988737492
  (319998, 667296)	0.2622213752252774
  (319999, 58217)	0.1542029152151749
  (319999, 246009)	0.16653098024038876
  (319999, 309560)	0.2305102357609309
  (319999, 375141)	0.21043643643270277
  (319999, 445186)	0.3523845229833777
  (319999, 452239)	0.18529257255386547
  (319999, 458834)	0.5619898106661053
  (319999, 464804)	0.2654581554836602
  (319999, 470065)	0.2968449458018987
  (319999, 484748)	0.2427611608735327
  (319999, 624046)	0.1497577200837443
  (319999, 647943)	0.29108679983278246
  (319999, 649324)	0.22815095674734454

# Model Trained

In [29]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression

nb_model_tfidf=MultinomialNB().fit(X_train_tfidf,y_train)  

lr_model_tfidf=LogisticRegression(max_iter=1000).fit(X_train_tfidf,y_train)

# Model Evaluation

In [30]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

## accuracy score, confusion matrix :-

In [33]:
## Multinomial naive bayes  :-
y_pred_test_nb = nb_model_tfidf.predict(X_test_tfidf) 
print("TFIDF NB accuracy :",accuracy_score(y_test, y_pred_test_nb))

confusion_matrix(y_test, y_pred_test_nb)

TFIDF NB accuracy : 0.764328125

array([[128863,  31476],
       [ 43939, 115722]])

In [34]:
print(classification_report(y_test, y_pred_test_nb))

              precision    recall  f1-score   support

           0       0.75      0.80      0.77    160339
           1       0.79      0.72      0.75    159661

    accuracy                           0.76    320000
   macro avg       0.77      0.76      0.76    320000
weighted avg       0.77      0.76      0.76    320000

In [35]:
## logistic regression :-
y_pred_test_lr = lr_model_tfidf.predict(X_test_tfidf)  
print("TFIDF LR accuracy :",accuracy_score(y_test, y_pred_test_lr))

confusion_matrix(y_test, y_pred_test_lr)

TFIDF LR accuracy : 0.78586875

array([[123419,  36920],
       [ 31602, 128059]])

In [36]:

print(classification_report(y_test, y_pred_test_lr))

              precision    recall  f1-score   support

           0       0.80      0.77      0.78    160339
           1       0.78      0.80      0.79    159661

    accuracy                           0.79    320000
   macro avg       0.79      0.79      0.79    320000
weighted avg       0.79      0.79      0.79    320000